<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217438737144-r87s6dklupdb257b7pju8nl8be7jqsi5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217438737144-r87s6dklupdb257b7pju8nl8be7jqsi5</string>
	<key>API_KEY</key>
	<string>AIzaSyD1iK0f9qR4KgW2YwOSsENDCEd2MPWJfg8</string>
	<key>GCM_SENDER_ID</key>
	<string>217438737144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EisaiOS.SupaChat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>supachat-a8b80</string>
	<key>STORAGE_BUCKET</key>
	<string>supachat-a8b80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217438737144:ios:b3b2d1a82d8548ae12610d</string>
</dict>
</plist>